#!/bin/bash
set -e

clean() {
	rm -f debian/files
	rm -rf debian/tmp/
}

build() {
	return
}

binary() {
	pkgdir="${PWD}"/debian/tmp

	rm -rf "${pkgdir}"
	mkdir -p "${pkgdir}"
	mkdir -p "${pkgdir}"/DEBIAN

	dpkg-gencontrol
	dpkg-deb -b "${pkgdir}" ..
}

${1}
